@import url('https://fonts.googleapis.com/css?family=Baloo|Luckiest+Guy');

.logo-text{
    font-size: 2.2em;
    font-family: 'Luckiest Guy', cursive;
}

.mdl-navigation{  

}

.mdl-navigation a{   
   color: white;
}

.mdl-navigation a:hover{
   background-color:rgb(255 , 64, 129);
   color: white;
}

