

<div class="mdl-layout__header-row">
          <!-- Title -->
           <span class="logo-text" style="color:white">Mr. OWL</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-button mdl-js-button nav-btn" routerLink="/posts" >Blog</a>
            <a class="mdl-button mdl-js-button nav-btn" routerLink="/posts/contact" >Contact</a> 
            <!--<a class="mdl-button mdl-js-button nav-btn">About me</a>
            
            <a class="mdl-button mdl-js-button nav-btn" routerLink="/admin" >Admin</a> -->
          </nav>
        </div>